<div class="pages">
    <div data-page="books_donation" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"><a href="index.html" class="back">我要捐书</a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                            title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                            title="" /></a>
                </div>

            </div>

            <div id="pages_maincontent">
                <div id="books_donation_div">
                    <div v-if="cur_status==0"> 
                            <h2 class="page_title"><b>方式一：拍摄ISBN码以自动识别图书</b></h2>
                            <div class="page_single layout_fullwidth_padding">
                                <div class="swiper-container-team swiper-init" data-effect="slide"
                                    data-space-between="0" data-pagination=".swiper-pagination-teambigger"
                                    data-slides-per-view="1">

                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide team-block">
                                            <a href="#" data-view=".view-main"><img v-on:click="selectImage()"
                                                    src="images/isbn_sample.jpg" alt="" title="" /></a>
                                            <strong>请对准ISBN条形码拍摄</strong>
                                            <span v-on:click="selectImage()">选择图片</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <h2 class="page_title"><b>方式二：手工输入ISBN码</b></h2>
                            <div class="page_single layout_fullwidth_padding">
                                <div class="swiper-wrapper">
                                    <div style="width:100%" class="swiper-slide team-block">
                                        <input placeholder="请输入ISBN码，如9787519012038" v-model="isbn"
                                            style="width:80%;height:25px; font-size:18px;" type="text">
                                        <strong>&nbsp;</strong>
                                        <span v-on:click="inputISBNbyHand">确定</span>
                                    </div>
                                </div>

                            </div>

                    </div>

                    <div v-if="cur_status==1">
                        <h4 style="color:red">正在识别图中条形码...</h4>
                    </div>
                    <div v-if="cur_status==2" class="page_single layout_fullwidth_padding">
                            <h2 class="page_title">图书信息(ISBN <b v-text="isbn"></b>)</h2>
                            <ul class="shop_items">
                                <li>
                                    <div class="shop_thumb"><a href="#"><img v-bind:src="book.picture" alt=""
                                                title=""></a></div>
                                    <div class="shop_item_details"  v-on:click="book_detail_vue.update_cur_book(book)">
                                        <h4 v-text="book.title"></h4>
                                        <div v-text="book.author"></div>
                                        <div v-text="`${book.publisher} ${book.pubdate}`"></div>
                                        <div v-text="book.summary"></div>
                                        <b v-if="book.stock" style="color:green">
                                            <div v-text="`馆中藏书:${book.stock}本`"></div>
                                        </b>
                                        <b v-if="!book.stock" style="color:red">
                                            <div v-text="`馆中藏书:${book.stock}本`"></div>
                                        </b>
                                    </div>
                                </li>
                            </ul>
                            
                            <h2 class="page_title"><b>填写捐书信息</b></h2>
                        <div class="contactform" style="margin:5% 2%;width: 90%;">
                            <div class="form_row">
                                    <label>捐书方式:</label>
                                    <div class="form_row_right">
                                        <label class="label-radio item-content">
                                            <!-- Checked by default -->
                                            <input type="radio" name="my-radio" v-model="fetchType" value="1" checked>
                                            <div class="item-inner">
                                                <div class="item-title">送至分馆</div>
                                            </div>
                                        </label>

                                        <label class="label-radio item-content">
                                            <!-- Checked by default -->
                                            <input type="radio" name="my-radio" v-model="fetchType" value="3">
                                            <div class="item-inner">
                                                <div class="item-title">放到书箱</div>
                                            </div>
                                        </label>

                                        <label class="label-radio item-content">
                                            <!-- Checked by default -->
                                            <input type="radio" name="my-radio"  v-model="fetchType" value="2" />
                                            <div class="item-inner">
                                                <div class="item-title">上门取书</div>
                                            </div>
                                            <div v-if="fetchType==2">
                                                <label>取书地点:</label>
                                                <input type="text" placeholder="去哪里可以找到你~" v-model="fetchAddr" class="form_input required" />
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <label>手机联系方式 </label>
                                <input v-on:click="change_contact" type="text" v-model="g_data.user_info.phone" readonly class="form_input required error"
                                    placeholder="" />
                                <label>微信联系方式</label>
                                <input v-on:click="change_contact" type="text" v-model="g_data.user_info.wechat_name" readonly class="form_input required error"
                                    placeholder="" />
                                <label>留言:</label>
                                <input type="text" v-model="word" class="form_input required"
                                    placeholder="其他同学浏览这本书，就可以看到你的留言哦" />

                                <input type="submit" v-on:click="DonateBook" class="form_submit" value="捐书提交" />
                                <input style="background-color:#eb3232" type="submit" v-on:click="cancel"
                                    class="form_submit" value="取消" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>