<div class="pages">
    <div data-page="book_donation" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"><a href="index.html" class="back">填写捐书信息</a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                            title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                            title="" /></a>
                </div>

            </div>

            <div id="pages_maincontent">
                <div class="page_single layout_fullwidth_padding">
                    <h2 id="Note"></h2>
                    <div class="contactform" id="donation">
                        <form class="" id="ContactForm" method="post" action="">

                            <!--点击查看图片-gallery组件-->
                            <div class="gallery js_show" id="gallery">
                                <span class="gallery__img" id="galleryImg"></span>
                                <!--<div class="weui-gallery__opr">
                        <a href="javascript:" class="weui-gallery__del">
                            <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                        </a>
                    </div>-->
                            </div>
                            <!--点击查看图片-gallery组件-->
                            <div v-if="cur_status==0">
                                <h4 style="color:red" v-if="error_msg!=null" v-text="error_msg">
                                </h4> 
                                <label>请对准书本ISBN条形码拍摄，自动识别图书</label>
                                <div class="single-photo">
                                    <ul class="uploader__files">
                                    </ul>
                                    <div class="uploader__input-box">
                                        <input v-on:change="selectImage" class="uploader__input barcode" type="file"
                                            name="file_1" accept="image/*">
                                        
                                    </div>
                                </div> 
                            </div>
                            <div v-if="cur_status==1">
                                <h4>正在识别图中条形码...</h4> 
                            </div> 
                            <div v-if="cur_status==2">
                                <label>ISBN:<b v-text="isbn"></b></label>
                                <label>书名:</label>
                                <input type="text" v-bind:value="book.name" readonly="readonly"
                                    class="form_input required" />
                                <label>出版社:</label>
                                <input type="text" v-bind:value="book.publisher" readonly="readonly"
                                    class="form_input required" />
                                <label>作者:</label>
                                <input type="text" v-bind:value="book.author" readonly="readonly"
                                    class="form_input required" />
                                <div class="form_row " v-if="seen">
                                    <label>分类:</label>
                                    <div class="selector_overlay">
                                        <select name="selectoptions" class="required">
                                            <option value="" disabled selected>请选择分类</option>
                                            <option value="2">马列主义、毛泽东思想、邓小平理论、政治</option>
                                            <option value="3">哲学、宗教</option>
                                            <option value="4">社会科学总论</option>
                                            <option value="5">法律</option>
                                            <option value="6">军事</option>
                                            <option value="7">经济</option>
                                            <option value="8">文化、科学、教育、体育</option>
                                            <option value="9">语言文字</option>
                                            <option value="10">文学</option>
                                            <option value="11">艺术</option>
                                            <option value="12">历史、地理、天文、地球科学</option>
                                            <option value="13">自然科学</option>
                                            <option value="14">数理科学、化学、生物科学</option>
                                            <option value="15">医药、卫生</option>
                                            <option value="16">农业科学</option>
                                            <option value="17">工学</option>
                                            <option value="18">交通运输、航空、航天</option>
                                            <option value="19">环境科学、安全科学</option>
                                            <option value="20">综合性图书</option>
                                        </select>
                                        </select>
                                    </div>
                                </div>


                                <div class="form_row">
                                    <label>捐书方式:</label>
                                    <div class="form_row_right">
                                        <label class="label-radio item-content">
                                            <!-- Checked by default -->
                                            <input type="radio" name="my-radio" value="0" checked="checked">
                                            <div class="item-inner" v-on:click="setFetchType(1)">
                                                <div class="item-title">送至分馆</div>
                                            </div>
                                        </label>

                                        <label class="label-radio item-content" id="getBooks">
                                            <!-- Checked by default -->
                                            <input type="radio" name="my-radio" value="" />
                                            <div class="item-inner" v-on:click="setFetchType(2)">
                                                <div class="item-title">上门取书</div>
                                            </div>
                                            <div v-if="fetchType==2">
                                                <label>取书地点:</label>
                                                <input type="text" v-model="fetchAddr" class="form_input required" />
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <label>联系方式:</label>
                                <input type="text" v-model="phone" class="form_input required error number"
                                    placeholder="请留个联系方式，方便联系取书" />
                                <label>留言:</label>
                                <input type="text" v-model="word" class="form_input required"
                                    placeholder="其他同学浏览这本书，就可以看到你的留言哦" />

                                <input type="submit" v-on:click="DonateBook" class="form_submit" value="捐书提交" />
                            </div>
                        </form>
                    </div>


                    <div class="clear"></div>
                </div>


            </div>
        </div>
    </div>
</div>