<div class="pages">
    <div data-page="book_donation" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"><a href="index.html" class="back">填写捐书信息</a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                            title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                            title="" /></a>
                </div>

            </div>

            <div id="pages_maincontent">
                <div class="page_single layout_fullwidth_padding">
                    <h2 id="Note"></h2>
                    <div class="contactform" id="donation">
                        <form class="" id="ContactForm" method="post" action="">

                            <!--点击查看图片-gallery组件-->
                            <div class="gallery js_show" id="gallery">
                                <span class="gallery__img" id="galleryImg"></span>
                                <!--<div class="weui-gallery__opr">
                        <a href="javascript:" class="weui-gallery__del">
                            <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                        </a>
                    </div>-->
                            </div>
                            <!--点击查看图片-gallery组件-->
                            <div v-if="cur_status==0">
                                <h4 style="color:red" v-if="error_msg!=null" v-text="error_msg">
                                </h4>
                                <label>请对准书本ISBN条形码拍摄，自动识别图书</label>
                                <div class="single-photo">
                                    <ul class="uploader__files">
                                    </ul>
                                    <div class="uploader__input-box">
                                        <input v-on:change="selectImage" class="uploader__input barcode" type="file"
                                            name="file_1" accept="image/*">

                                    </div>
                                </div>
                            </div>
                            <div v-if="cur_status==1">
                                <h4>正在识别图中条形码...</h4>
                            </div>
                            <div v-if="cur_status==2">
                                <h2 class="page_title">ISBN识别成功：<b v-text="isbn"></b></h2> 
                                <ul class="shop_items">
                                    <li>
                                        <div class="shop_thumb"><a href="#"><img
                                                    v-bind:src="book.picture" alt=""
                                                    title=""></a></div>
                                        <div class="shop_item_details">
                                            <h4 v-text="book.title"></h4>
                                            <div v-text="book.author"></div>
                                            <div v-text="`${book.publisher} ${book.pubdate}`"></div>   
                                        </div>
                                    </li> 
                                </ul>
                                <div class="form_row">
                                    <label>捐书方式:</label>
                                    <div class="form_row_right">
                                        <label class="label-radio item-content">
                                            <!-- Checked by default -->
                                            <input type="radio" name="my-radio" value="0" checked="checked">
                                            <div class="item-inner" v-on:click="setFetchType(1)">
                                                <div class="item-title">送至分馆</div>
                                            </div>
                                        </label>

                                        <label class="label-radio item-content" id="getBooks">
                                            <!-- Checked by default -->
                                            <input type="radio" name="my-radio" value="" />
                                            <div class="item-inner" v-on:click="setFetchType(2)">
                                                <div class="item-title">上门取书</div>
                                            </div>
                                            <div v-if="fetchType==2">
                                                <label>取书地点:</label>
                                                <input type="text" v-model="fetchAddr" class="form_input required" />
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <label>联系方式:</label>
                                <input type="text" v-model="phone" class="form_input required error number"
                                    placeholder="请留个联系方式，方便联系取书" />
                                <label>留言:</label>
                                <input type="text" v-model="word" class="form_input required"
                                    placeholder="其他同学浏览这本书，就可以看到你的留言哦" />

                                    <input type="submit" v-on:click="DonateBook" class="form_submit" value="捐书提交" />
                                    <input style="background-color:#eb3232" type="submit" v-on:click="cancel" class="form_submit" value="取消" />
                            </div>
                        </form>
                    </div>


                    <div class="clear"></div>
                </div>


            </div>
        </div>
    </div>
</div>