<div class="pages">
    <div data-page="books_list" class="page no-toolbar no-navbar">
        <div class="page-content">
            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"><a href="index.html">图书馆藏书</a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                            title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                            title="" /></a>
                </div>
            </div>

            <div id="pages_maincontent">
                <div id="books-list-div">
                    <h2 class="page_title" >图书信息
                        <span>馆中共${total_books}本图书</span>
                        <a style="float:right;width:25px" href="books_retrieval.html"><img src="images/icons/black/search.png" class=""></a>
                    </h2>
                    <div class="page_single layout_fullwidth_padding">
                        <ul class="shop_items">
                            <li v-for="book in books">
                                <div class="shop_thumb" style="width:25%"><a href="#"> 
                                    <img v-if="book.picture!=''" v-bind:src="book.picture" onerror="image_not_found(this)"/></a> 
                                    <!-- images/photos/photo1.jpg -->
                                </div>
                                <div class="shop_item_details">
                                    <h4 v-text="book.title"></h4>
                                    <div v-text="book.author" class=""></div>
                                    <div v-text="`${book.publisher} ${book.pubdate}`"></div>
                                    <div v-text="'ISBN:'+book.isbn" class=""></div>
                                    <!-- <div v-text="book.summary"></div> -->
                                    <b v-on:click="book_detail_vue.update_cur_book(book)" style="color:darkred;float:right">
                                        <i><u>图书详情</u></i>
                                    </b>
                                    <b v-if="book.stock!=book.lended" style="color:green"><div v-text="`可借:${book.stock-book.lended}/${book.stock}本`"></div></b>
                                    <b v-if="book.stock==book.lended" style="color:red"><div v-text="`可借:${book.stock-book.lended}/${book.stock}本`"></div></b>

                                </div>
                            </li>

                        </ul>

                        <div class="shop_pagination">
                            <a href="#" v-on:click="goto_page(1)" class="prev_shop">第一页</a>
                            <a href="#" v-on:click="prev_page" class="prev_shop">上一页</a>
                            <span class="shop_pagenr" v-text="`${page_id}/${total_pages}`"></span>
                            <a href="#" v-on:click="goto_page(total_pages)" class="next_shop">最后一页</a>
                            <a href="#" v-on:click="next_page" class="next_shop">下一页</a>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>