<div class="pages">
    <div data-page="books_retrieval" class="page no-toolbar no-navbar">
        <div class="page-content">
            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"><a href="index.html">图书检索</a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                            title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                            title="" /></a>
                </div>
            </div>

            <div id="pages_maincontent">
                <div id="books-retrieval-div"> 
                    <a href="books_list.html" class="backto"><img src="images/icons/black/back.png" alt="" title=""></a>
                    <h2 class="page_title" >
                        <input type=text id="search_input" v-model="search_str" style="width:80%;border:0;font-size: 20px;margin:5px" placeholder="查找馆中图书~"/>
                        <img v-on:click="search_book" style="float:right;width:25px" src="images/icons/black/search.png"></img>
                        
                    </h2> 
                    <h2 class="page_title" v-if= "books!=null && books.length>0"><span>搜索成功：找到<i v-text="books.length"></i> 本书~</span></h2>
                    <h2 class="page_title" v-if= "books!=null && books.length==0"><span style="color:red">查找不到图书！</span></h2>
                    <div class="page_single layout_fullwidth_padding">
                        <ul class="shop_items">
                            <li v-for="(book,index) in books" v-if="index<show_items"> 
                                <div class="shop_thumb" style="width:25%"><a href="#">
                                        <img v-if="book.picture!=''" v-bind:src="book.picture" alt="" title="" /></a>
                                    <img v-else v-bind:src=" images/photos/photo1.jpg" alt="" title="" /></a>
                                    <!-- images/photos/photo1.jpg -->
                                </div>
                                <div class="shop_item_details">
                                    <h4 v-text="`${book.title}`"></h4>
                                    <div v-text="book.author" class=""></div>
                                    <div v-text="`${book.publisher} ${book.pubdate}`"></div>
                                    <div v-text="'ISBN:'+book.isbn" class=""></div>
                                    <!-- <div v-text="book.summary"></div> -->
                                    <b v-on:click="book_detail_vue.update_cur_book(book)" style="color:darkred;float:right">
                                        <i><u>图书详情</u></i>
                                    </b>
                                    <b v-if="book.stock!=book.lended" style="color:green"><div v-text="`可借:${book.stock-book.lended}/${book.stock}本`"></div></b>
                                    <b v-if="book.stock==book.lended" style="color:red"><div v-text="`可借:${book.stock-book.lended}/${book.stock}本`"></div></b>
                                </div> 
                            </li>

                        </ul>

                        <div class="shop_pagination" v-if="books!=null && books.length>show_items">
                            <a style="font-size: 15px;width:60%" href="#" v-on:click="more" v-text="`显示剩下${books.length-show_items}本图书`"></a> 
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>