<div class="pages">
	<div data-page="borrow_book" class="page no-toolbar no-navbar">
		<div class="page-content">

			<div class="navbarpages navbarpagesbg">
				<div class="navbar_left">
					<div class="logo_text"><a href="index.html">扫一扫借书</a></div>
				</div>
				<div class="navbar_right navbar_right_menu">
					<a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
							title="" /></a>
				</div>
				<div class="navbar_right">
					<a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
							title="" /></a>
				</div>
				<div class="navbar_right">
				</div>
			</div>
			<div id="pages_maincontent">
				<div id="borrow_div">
					<div v-if="cur_status==0">
						<h2 class="page_title"><b>方式一：上传ISBN码图片自助借书</b></h2>
						<div class="page_single layout_fullwidth_padding">
							<div class="swiper-container-team swiper-init" data-effect="slide" data-space-between="0"
								data-pagination=".swiper-pagination-teambigger" data-slides-per-view="1">

								<div class="swiper-wrapper">
									<div class="swiper-slide team-block">
										<a href="#" data-view=".view-main"><img v-on:click="selectImage()"
												src="images/isbn_sample.jpg" alt="" title="" /></a>
										<strong>请对准ISBN条形码拍摄</strong>
										<span v-on:click="selectImage()">选择图片</span>
									</div>
								</div>
							</div>

						</div>
						<h2 class="page_title"><b>方式二：手工输入ISBN码</b></h2>
						<div class="page_single layout_fullwidth_padding">
							<div class="swiper-wrapper">
								<div style="width:100%" class="swiper-slide team-block">
									<input placeholder="请输入ISBN码，如9787519012038" v-model="isbn"
										style="width:80%;height:25px; font-size:18px;" type="text">
									<strong>&nbsp;</strong>
									<span v-on:click="inputISBNbyHand">确定</span>
								</div>
							</div>

						</div>

					</div>
					<div v-if="cur_status==2" class="page_single layout_fullwidth_padding">
						<div class="contactform">
							<h2 class="page_title">ISBN识别成功：<b v-text="isbn"></b></h2>
							<ul class="shop_items">
								<li>
									<div class="shop_thumb"><a href="#"><img v-bind:src="book.picture" alt=""
												title=""></a></div>
									<div class="shop_item_details" v-on:click="book_detail_vue.update_cur_book(book)">
										<h4 v-text="book.title"></h4>
										<div v-text="book.author"></div>
										<div v-text="`${book.publisher} ${book.pubdate}`"></div>
										<div v-text="book.summary"></div>
										<b v-if="book.stock!=book.lended" style="color:green">
											<div v-text="`可借:${book.stock-book.lended}/${book.stock}本`"></div>
										</b>
										<b v-if="book.stock==book.lended" style="color:red">
											<div v-text="`可借:${book.stock-book.lended}/${book.stock}本`"></div>
										</b>
									</div>
								</li>
							</ul>
							<!-- <select>
								<option  v-for="site in stock_in_sites" v-text="site.name"></option>
							</select> -->
							<div v-if="book.stock>book.lended" class="form_row"><label>请选择借书地点:</label>
								<div class="form_row_right">
									<label v-for="(site,index) in stock_in_sites" class="label-radio item-content">
										<input type="radio" name="borrow-site-radio" v-bind:value="site.id" v-model="borrow_site_id" >
										<div class="item-inner">
											<div class="item-title" v-text="`[${index+1}] ${site.name}(剩余${site.stock}本可借)`"></div>
										</div> 
									</label>
								</div>
							</div>
							<div class="swiper-wrapper">
								<div style="width:100%" class="swiper-slide team-block">
									<table style="width: 100%;height: 20px;" border="1">
										<tr>
											<td v-if="book.stock!=book.lended" v-on:click="borrow_book"><span>
													确认借书</span></td>
											<td v-if="book.stock==book.lended" v-on:click="alert('馆中无可借书籍')"><span
													style="background-color: gray"> 暂无库存</span></td>
											<td v-on:click="cur_status=0">
												<span style="background-color:#cccccc"> 返回</span>
											</td>
										</tr>
									</table>


								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>
	</div>
</div>