<div class="pages">
	<div data-page="borrow_book" class="page no-toolbar no-navbar">
		<div class="page-content">

			<div class="navbarpages navbarpagesbg">
				<div class="navbar_left">
					<div class="logo_text"><a href="index.html">扫一扫借书</a></div>
				</div>
				<div class="navbar_right navbar_right_menu">
					<a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt="" title="" /></a>
				</div>
				<div class="navbar_right">
					<a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
							title="" /></a>
				</div>
				<div class="navbar_right">
				</div>
			</div>
			<div id="pages_maincontent">
				<div id="borrow_div">
					<div v-if="cur_status==0">
						<h4 style="color:red" v-if="error_msg!=null" v-text="error_msg">
							<h2 class="page_title"><b>方式一：上传ISBN码图片自助借书</b></h2>
							<div class="page_single layout_fullwidth_padding">
								<div class="swiper-container-team swiper-init" data-effect="slide" data-space-between="0"
									data-pagination=".swiper-pagination-teambigger" data-slides-per-view="1">

									<div class="swiper-wrapper">
										<div class="swiper-slide team-block">
											<a href="#" data-view=".view-main"><img src="images/isbn_sample.jpg" alt="" title="" /></a>
											<strong>请对准ISBN条形码拍摄</strong>
											<span v-on:click="selectImage">选择图片</span>
										</div>
									</div>
								</div>

							</div>
							<h2 class="page_title"><b>方式二：手工输入、纠正ISBN码</b></h2>
							<div class="page_single layout_fullwidth_padding">
								<div class="swiper-wrapper">
									<div class="swiper-slide team-block">
										<input id="isbn_by_hand" v-model="isbn" style="height:25px; font-size:22px;" type="text">
										<strong>请输入ISBN码，如9787519012038</strong>
										<span v-on:click="inputISBNbyHand">确定</span>
									</div>
								</div>

							</div>

					</div>

				<div v-if="cur_status==1">
					<h4 style="color:red">正在识别图中条形码...</h4>
				</div>
				<div v-if="cur_status==2" class="page_single layout_fullwidth_padding">
					<div class="contactform">
						<label>ISBN:<b v-text="isbn"></b></label>
						<label>书名:</label>
						<input type="text" v-bind:value="book.name" readonly="readonly" class="form_input required" />
						<label>出版社:</label>
						<input type="text" v-bind:value="book.publisher" readonly="readonly" class="form_input required" />
						<label>作者:</label>
						<input type="text" v-bind:value="book.author" readonly="readonly" class="form_input required" />

						<label>出版日期:</label>
						<input type="text" v-bind:value="book.pubdate" readonly="readonly" class="form_input required" />
						<div class="swiper-wrapper">
							<div style="width:100%" class="swiper-slide team-block">
								<table style="width: 100%;height: 20px;" border="1">
									<tr>
										<td v-on:click="borrow_book"><span> 确认借书</span></td>
										<td v-on:click="cur_status=0">
											<span style="background-color: red"> 取消</span>
										</td>
									</tr>
								</table>


							</div>
						</div>
					</div>
				</div>
				
				</div>
			</div>


		</div>
	</div>
</div>