<div class="pages">
    <div data-page="return-book" class="page no-toolbar no-navbar">
        
        <div class="page-content">
            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"><a href="index.html">法学与艺术分馆</a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                            title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                            title="" /></a>
                </div>
            </div>

            <div id="pages_maincontent">
                <div id="return—book-div">
                    <div class="return-process">
                        <ul class="aui-timeline">
                            <li>
                                <div class="aui-iconfont aui-bg-info">1</div>
                                <div class="aui-timeline-item">
                                    <!-- <text class="aui-timeline-header"></text> -->
                                    <div class="aui-timeline-body">选择要还书的地点</div>
                                    <!-- <view class="aui-timeline-footer"> 
                                    </view> -->
                                </div>
                            </li>
                            <li>
                                <i class="aui-iconfont aui-icon-home aui-bg-warning">2</i>
                                <div class="aui-timeline-item">
                                    <!-- <text class="aui-timeline-header"></text> -->
                                    <div class="aui-timeline-body">将图书放到还书架上并拍照</div>
                                    <!-- <view class="aui-timeline-footer">

                                    </view> -->
                                </div>
                            </li>
                            <li>
                                <i class="aui-iconfont aui-icon-home aui-bg-warning">3</i>
                                <div class="aui-timeline-item">
                                    <!-- <text class="aui-timeline-header"></text> -->
                                    <div class="aui-timeline-body">点击还书按钮上传所拍照片</div>
                                    <!-- <view class="aui-timeline-footer">

                                    </view>  -->
                                </div>
                            </li>
                            <li>
                                <i class="aui-iconfont aui-icon-home aui-bg-warning">4</i>
                                <div class="aui-timeline-item"> 
                                    <div class="aui-timeline-body">还书完成</div> 
                                </div>
                            </li> 
                        </ul>
                    </div>
              
                <div class="page_single layout_fullwidth_padding">

                    <ul class="shop_items">
                        <li v-if="g_data.not_returned_books.length==0">
                            你当前没有图书需要归还。
                        </li>
                        <li v-for="book in g_data.not_returned_books"> 
                            <div class="shop_thumb"><a href="#">
                                
                                    <img v-if="book.picture!=''" v-bind:src="book.picture" alt="" title="" /></a>
                                    <img v-else v-bind:src=" images/photos/photo1.jpg" alt="" title="" /></a>
                                <!-- images/photos/photo1.jpg -->
                            </div>
                            <div class="shop_item_details">
                                <h4 v-text="book.title"></h4>
                                <div v-text="book.author" class=""></div>
                                <div v-text="book.publisher"></div>
                                <div v-text="'ISBN:'+book.isbn" class=""></div>
                                <div v-text="'借书时间：'+book.borrow_time"></div> 
                                <select v-model="return_site_id">
                                    <option value=0>请选择还书地点</option>
                                    <option v-for="(site,index) in myData.sites" v-bind:value="site.id" v-text="site.name">
                                    </option>
                                </select>
                                <a href="#" v-on:click="choose_image(book.isbn)" id="addtocart">还书</a>
                            </div>
                            <!-- <div class="contactform" style="left:18px">
                                <div class="form_row"><label>请选择你当前所在的位置:</label>
                                    <div class="form_row_right">
                                        <label v-for="(site,index) in myData.sites" class="label-radio item-content">
                                            <input type="radio" name="borrow-site-radio" v-bind:value="site.id" v-model="return_site_id" >
                                            <div class="item-inner">
                                                <div class="item-title" v-text="`[${index+1}] ${site.name}`"></div>
                                            </div> 
                                        </label>
                                    </div>
                                </div>
                            </div> -->
                        </li>

                    </ul> 

                </div>
                </div>
            </div>


        </div>
    </div>
</div>